<!-- This is the markup for the table you should use. -->
<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Roles</th>
	</thead>
	<tr *ngFor="let user of usersWithFullRole">
		<td>
        {{user.id}}
        </td>
        <td>
        <input type="text"
        [(ngModel)]="user.name"
        (ngModelChange)="updateUserName(user.name)">
    </td>
    <td >
        <div *ngFor="let role of user.roles" class="tag" [style.background-color]="role.colour">
      {{role.name}}
    </div>
    </td>
	</tr>
</table>
